* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
}

body {
  background: rgb(255, 219, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.app-container {
  border: 2px solid darkblue;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}

input[type="text"],
input[type="number"] {
  background: rgb(255, 219, 212);
  border: none;
  outline: none;
  font-size: 1.2rem;
  -moz-appearance: textfield;
}

.range-container {
  display: flex;
  padding: 30px;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  background: darkblue;
  transform: scale(1.05);
  color: white;
}

label {
  border: 3px solid darkblue;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  /* Empeche l'user de select */
  user-select: none;
}

button {
  background: darkblue;
  margin: 10px;
  padding: 20px;
  border: none;
  color: white;
  font-size: 1.2rem;
  outline: none;
}

button:hover {
  background: rgb(57, 57, 110);
  transform: translate(1px);
  cursor: pointer;
}

@media screen and (max-width: 300px) {
  button {
    padding: 10px;
    border-radius: 50px;
    font-size: 0.7rem;
  }
  label {
    width: 30px;
    height: 30px;
  }
  #passwordOutput {
    font-size: 0.8rem;
    text-align: center;
  }
  .checkbox-container {
    flex-direction: column;
  }
  input[type="number"] {
    font-size: 0.8rem;
  }
  input[type="range"] {
    width: 80px;
  }
}

@media screen and (max-width: 200px) {
  #passwordOutput {
    font-size: 0.6rem;
  }
}
